/*
 * Contact
 */

 .Contact {
  background-color: #f3f3f3;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-image: url('../assets/images/contacto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &CTA {
    width: 350px;
    a:first-child {
      margin-right: 20px;
    }
  }
}
