/*
 * Brand Products
 */

 .Products {
  background-color: #f3f3f3;
  width: 100%;
  overflow: hidden;

  h2 {
    text-align: center;
  }
  &:first-child {
    img {
      margin-left: 100px;
    }
  }
  &:nth-child(2) {
    img {
      margin-right: 50px;
    }
  }
}
