/**
 * Site Footer
 */

.siteFooter {
  position: relative;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;

  &--credits {
    position: absolute;
    top: -40px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  a,
  a:visited {
    color: #888;
  }
}
